@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.team_color {
  background: #5680e9;
}

.about_color {
  background: #84ceeb;
}

.recog_color {
  background: #8860d0;
}

.team_heading {
  align-items: center;
}

.section {
  position: relative;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team_waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.team_waves svg {
  position: relative;
  display: block;
  width: calc(163% + 1.3px);
  height: 130px;
}

.team_waves .shape-fill {
  fill: #5680e9;
}

.about_waves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.about_waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.about_waves .shape-fill {
  fill: #84ceeb;
}
